<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <h2 class="page-header">
              New agency
            </h2>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-sliders"></i>  <a href="Javascript:void(0)" [routerLink]="['/dashboard','/agencies']">Agencies management</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i> New agency
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->



</div>
