<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-xl-12 text-xs-center">
        <h2 class="page-header">
          <i class="fa fa-sliders"></i> Vehicles management
            </h2>
            <!--<ol class="breadcrumb">-->
                <!--<li>-->
                    <!--<i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" [routerLink]="['/dashboard','/home']">Dashboard</a>-->
                <!--</li>-->
                <!--<li class="active">-->
              <!--<i class="fa fa-th-list"></i> Vehicles management-->
            <!--</li>-->
            <!--</ol>-->
        </div>
    </div>
    <!-- /.row -->

  <div class="row">
    <div class="col-xl-12">
      <div class="card card-block">
        <table class="table table-hover">
          <thead class="thead-inverse">
          <tr>
            <th>Reg №</th>
            <th>Inv №</th>
            <th>Type</th>
            <th>Manufact.</th>
            <th>Model</th>
            <th>Agency</th>
            <th>Payed until</th>
            <th></th>
            <th><i class="fa fa-plus fa-lg"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">ew345r77rus</th>
            <td>34556</td>
            <td>Bus</td>
            <td>Golaz</td>
            <td>12555-M</td>
            <td>MosGorTrans</td>
            <td>12.03.2017</td>
            <td><i class="fa fa-pencil fa-lg"></i></td>
            <td><i class="fa fa fa-trash fa-lg"></i></td>
          </tr>
          <tr>
            <th scope="row">te654b77rus</th>
            <td>34365</td>
            <td>Bus</td>
            <td>Liaz</td>
            <td>15552-11</td>
            <td>MosGorTrans</td>
            <td>15.03.2017</td>
            <td><i class="fa fa-pencil fa-lg"></i></td>
            <td><i class="fa fa fa-trash fa-lg"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <!-- /.row -->

</div>
