<div class="panel-body">
  <div class="list-group">
    <a href="javascript:;" class="list-group-item text-warning">
      <i class="fa fa-clock-o fa-fw"></i> Bus is late to Hamburg
      <span class="pull-right text-muted small"><em>10:38 AM</em>
            </span>
    </a>
    <a href="javascript:;" class="list-group-item text-danger">
      <i class="fa fa-exclamation-circle fa-fw"></i> Bus is riding fast
      <span class="pull-right text-muted small"><em>02:02 PM</em>
            </span>
    </a>
    <a href="javascript:;" class="list-group-item text-danger">
      <i class="fa fa-close fa-fw"></i> Bus lost connection
      <span class="pull-right text-muted small"><em>05:51 PM</em>
            </span>
    </a>
    <a href="javascript:;" class="list-group-item text-success">
      <i class="fa fa-check fa-fw"></i> Bus succesfully arived
      <span class="pull-right text-muted small"><em>08:17 PM</em>
            </span>
    </a>
  <!-- /.list-group -->
    <a href="javascript:;" class="btn btn-default btn-block">View All Alerts</a>
</div>
