<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row" style="margin: 1rem;">
    <div class="col-xl-12 text-xs-center">
      <h2 class="page-header">
        Agencies management
      </h2>
      <!--<ol class="breadcrumb">-->
      <!--<li>-->
      <!--<i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" [routerLink]="['/dashboard','/home']">Dashboard</a>-->
      <!--</li>-->
      <!--<li class="active">-->
      <!--<i class="fa fa-th-list"></i> Agencies management-->
      <!--</li>-->
      <!--</ol>-->
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xl-12">
      <!--<div class="card card-block">-->
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <!--<th>#</th>-->
          <th>Name</th>
          <th>City</th>
          <th>Phone</th>
          <th>Contact</th>
          <!--<th><a href [routerLink]="['new']"><i class="fa fa-plus fa-lg"></i></a> </th>-->
          <th class="text-xs-right">
            <button type="button" class="btn btn-success-outline btn-sm" [routerLink]="['new']"><i
              class="fa fa-plus fa-lg"></i></button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr [routerLink]="['1']">
          <th scope="row">WestLine</th>
          <td>Moscow</td>
          <td>+74956567676</td>
          <td>Dmitry</td>
          <!--<td><a href [routerLink]="['edit','1']"><i class="fa fa-pencil fa-lg"></i></a> </td>-->
          <!--<td><a href [routerLink]="['new']"><i class="fa fa-trash fa-lg"></i></a> </td>-->
          <td class="text-xs-right">
            <button type="button" class="btn btn-primary-outline btn-sm"
                    [routerLink]="['edit','1']"><i
              class="fa fa-pencil fa-lg"></i></button>
            &nbsp;
            <button type="button" class="btn btn-danger-outline btn-sm" [routerLink]="['new']"><i
              class="fa fa fa-trash fa-lg"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">MosGorTrans</th>
          <td>Moscow</td>
          <td>+74994562343</td>
          <td>Svetlana</td>
          <!--<td><a href [routerLink]="['edit','1']"><i class="fa fa-pencil fa-lg"></i></a> </td>-->
          <!--<td><a href [routerLink]="['new']"><i class="fa fa-trash fa-lg"></i></a> </td>-->
          <td class="text-xs-right">
            <button type="button" class="btn btn-primary-outline btn-sm"
                    [routerLink]="['edit','1']"><i
              class="fa fa-pencil fa-lg"></i></button>
            &nbsp;
            <button type="button" class="btn btn-danger-outline btn-sm" [routerLink]="['new']"><i
              class="fa fa fa-trash fa-lg"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--</div>-->
    </div>
  </div>
  <!-- /.row -->

</div>
