<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Agency details
      </h2>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-sliders"></i> <a href="Javascript:void(0);" [routerLink]="['/dashboard','agencies']">Agencies
          management</a>
        </li>
        <li class="active">
          <i class="fa fa-th-large"></i> Agency details
        </li>
      </ol>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <p>Legal name: GUP "Moscovskiy Gorodskoy Transport"</p>
        <p>Name: MosGorTrans</p>
        <p>Commentary: Moscow tranportation company number one</p>
        <p>Address: g. Moskva, yl. Profsouznaya d.13</p>
        <p>City: Moscow</p>
        <p>Post index: 334523</p>
        <p>URL: http://mosgortrans.ru</p>
        <p>Phone: +7(4954)55-45-45</p>
      </div>
      <div class="col-xl-6 col-lg-12">
        <p>E-mail: info@mosgortrans.ru</p>
        <p>Fare URL: none</p>
        <p>Contact name: Mary</p>
        <p>Timezone: +4 GMT Moscow</p>
        <p>Language: English, Russian</p>
        <p>Created at: 13.09.2016</p>
        <p>Updated at: 14.09.2016</p>
        <p>Deleted at: none</p>
      </div>
    </div>
  </div>
</div>
