<div class="row">
  <div class="col-xl-12 text-xl-center">
    <table class="table table-bordered table-hover">
      <thead class="thead thead-default">
      <tr>
        <th class="th-bordered">{{'TripsStatusComponent.trip' | translate:lang}}</th>
        <th colspan="2" class="th-bordered">
          {{'TripsStatusComponent.departure' | translate:lang}}</th>
        <th colspan="3" class="th-bordered">
          {{'TripsStatusComponent.nextStop' | translate:lang}}</th>
        <th colspan="3" class="th-bordered">
          {{'TripsStatusComponent.destination' | translate:lang}}</th>
        <th class="th-bordered-last">
          {{'TripsStatusComponent.status' | translate:lang}}</th>
      </tr>
      <tr>
        <th class="th-bordered"></th>
        <th class="th-bordered">{{'TripsStatusComponent.city' | translate:lang}}</th>
        <th>{{'TripsStatusComponent.dep' | translate:lang}}</th>
        <th class="th-bordered">{{'TripsStatusComponent.city' | translate:lang}}</th>
        <th>{{'TripsStatusComponent.arrive' | translate:lang}}</th>
        <th>{{'TripsStatusComponent.wait' | translate:lang}}</th>
        <th class="th-bordered">{{'TripsStatusComponent.city' | translate:lang}}</th>
        <th>{{'TripsStatusComponent.arrive' | translate:lang}}</th>
        <th>{{'TripsStatusComponent.wait' | translate:lang}}</th>
        <th class="th-bordered-last"></th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <th scope="row">Bus 237</th>
        <td>Berlin</td>
        <td>11:53</td>
        <td>Genthin</td>
        <td>13:40</td>
        <td>40m</td>
        <td>Magdeburg</td>
        <td>14:33</td>
        <td>1h 33m</td>
        <td>on schedule</td>
      </tr>
      <tr class="text-warning">
        <th scope="row">Bus 275</th>
        <td>Berlin</td>
        <td>12:45</td>
        <td>Schwedt</td>
        <td>14:15</td>
        <td>1h 15m</td>
        <td>Szczecin</td>
        <td>15:10</td>
        <td>2h 10m</td>
        <td>late by 11m</td>
      </tr>
      <tr class="text-warning">
        <th scope="row">Bus 351</th>
        <td>Berlin</td>
        <td>13:40</td>
        <td>Kemberg</td>
        <td>16:00</td>
        <td>3h</td>
        <td>Leipzig</td>
        <td>16:35</td>
        <td>3h 35m</td>
        <td class="text-warning">detained by 30m</td>
      </tr>
      <tr class="text-danger">
        <th scope="row">Bus 399</th>
        <td>Berlin</td>
        <td>15:30</td>
        <td>Lehre</td>
        <td>16:48</td>
        <td>3h 48m</td>
        <td>Braunschweig</td>
        <td>18:08</td>
        <td>5h 8m</td>
        <th class="text-danger">broke</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
