<div class="container-fluid">
  <div class="login-page">
    <div class="row  pull-xs-right">
      <div class="col-xs-4">
      <div class="btn-group" dropdown>
        <button id="single-button" type="button" class="btn btn-secondary btn-block" dropdownToggle>
          <img src=" assets/img/blank.gif" class="flag {{currentLocale.class}}" />
          {{currentLocale.str}} <span
          class="caret"></span>
        </button>
        <ul dropdownMenu role="menu" aria-labelledby="single-button">
          <li *ngFor="let language of languageTypes; let i=index" role="menuitem">
            <a class="dropdown-item btn-block" href="javascript:;" (click)="changeLocale(i)">
              <img src="assets/img/blank.gif" class="flag {{language.class}}" />
              {{language.str}}
            </a>
          </li>
        </ul>
      </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <img src="assets/img/ST-logo-noborder.png" width="160px"/>
        <h1 style="margin-top: 40px;">{{'AuthComponent.title' | translate:lang}}</h1>
        <form role="form">
          <div class="form-content">
            <div class="form-group">
              <input [(ngModel)]="login"
                     name="input.login"
                     type="text"
                     class="form-control input-underline input-lg"
                     id="loginInput"
                     placeholder="{{'AuthComponent.email' | translate:lang}}">
            </div>

            <div class="form-group">
              <input [(ngModel)]="password"
                     name="input.password"
                     type="password"
                     class="form-control input-underline input-lg"
                     id="loginPassword"
                     placeholder="{{'AuthComponent.password' | translate:lang}}">
            </div>
          </div>
          <a class="btn rounded-btn" (click)="tryAuthorize()">{{'AuthComponent.logIn' |
            translate:lang}}</a>
          &nbsp;
          <a type="submit" class="btn rounded-btn"
             [routerLink]="['/']">{{'AuthComponent.forgetPassword' | translate:lang}}</a>
        </form>
      </div>
    </div>
  </div>
</div>
